<!DOCTYPE html>
<html>
  <head>
    <title>Dashboards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript"></script>
    <%= stylesheet_link_tag 'jquery.gridly.css' %>
    <%= javascript_include_tag 'jquery.gridly.js' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header__text">
        <h1>Dashboard manager</h1>
      </div>
      <% if current_user %>
        <div class="header__user">
          <span>
            Hi, <%= current_user.email %>
          </span>
          <span>
            <%= link_to '(Logout)', destroy_user_session_path, method: :delete, class: 'logout-link' %>
          </span>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
